@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

@section Head {
    <partial name="_StylesPartial" />
}

<style>
    .accountcss {
        margin-left: 35%;
    }
</style>
<br />
<br />
<br />
<br />
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
