@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

@section Head {
    <partial name="_StylesPartial" />
}

<style>
    .accountcss {
        margin-left: 35%;
    }
</style>
<br />
<br />
<br />
<br />
<h1>@ViewData["Title"]</h1>
<div class="accountcss">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
<br />
