@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
@section Head {
    <partial name="_StylesPartial" />
}

<style>
    .accountcss {
        margin-left: 35%;
    }
</style>
<br />
<br />
<br />
<br />

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
