@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@section Head {
    <partial name="_StylesPartial" />
}

<style>
    .accountcss {
        margin-left: 15%;
    }
    .acolor{
        color:orange;
    }
</style>
<br />
<br />
<br />
<br />
<h1>@ViewData["Title"]</h1>
<div class="accountcss">
<p>
    Please check your email to reset your password. <a class="acolor" asp-page="./Login">Go Back to Login Page</a>
</p>
</div>