@page
@model Intex_II_Section4_Team12.Pages.ConfirmAdminModel
@{
}

@section Head {
    <partial name="_StylesPartial" />
}

<style>
    .accountcss {
        margin-left: 35%;
    }

</style>
<br />
<br />
<br />
<br />

<div class="accountcss">
<h2>Role Added Successfully</h2>
    <a class="hovercolor" asp-page="/Index"><p>Go Home</p></a>
</div>