@page
@model Intex_II_Section4_Team12.Pages.GoAdminModel
@{
}

@section Head {
    <partial name="_StylesPartial" />
}

<style>
    .accountcss {
        margin-left: 40%;
    }
    .titlecentered {
        text-align:center;
    }
</style>
<br />
<br />
<br />
<br />

<h2 class="titlecentered">User Roles</h2>
<form method="post">
    <div class="accountcss">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label for="email">User Email</label>
        <input type="email" class="form-control" id="email" name="email" asp-for="Email" />
    </div>
    <br />
    <div class="form-group">
        <label for="role">Desired Role</label>
        <select class="form-control" id="role" name="role" asp-for="Role">
            <option value="Admin">Admin</option>
            <option value="Researcher">Researcher</option>
        </select>
    </div>
    <br />
        <button type="submit" class="btn btn-primary">Add Role</button>
    </div>
    <br />
</form>

