@model string

@if (!String.IsNullOrEmpty(Model))
{   
    <style>
        .centercss {
        text - align: center;
    }
    </style>
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="centercss">
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        @Model
    </div>
    </div>
}
